h1{
    text-align: center;
    font-weight: bold;
}
tableau{
    width: 100%;
}
.statut-confirmee{
    font-size: medium;
    color: rgb(5, 255, 5);
    
}
.statut-attente{
    font-size: medium;
    color: orange;
}
.statut-annulee{
    font-size: medium;
    color: red;
}