.jeu{
    background-color: purple;
    box-sizing: border-box;
    box-shadow: lightcyan;
    p{
        text-decoration: bold;
        font-size:medium;
        color: white;

    }
.titreJeu{
    color: white;
    font-size: large;
    text-align: center;
}
    

}

img{
    max-width: 100%;
    height: auto;
    width: 100px;
    display: block;
    margin: 0 auto;
}