.jeu{
    background-color: purple;
    box-sizing: border-box;
    box-shadow: lightcyan;
    p{
        text-decoration: bold;
        font-size:medium;
        color: white;

    }
.titreJeu{
    color: white;
    font-size: large;
    text-align: center;
}
    

}