

<div class="jeu-container">
  <mat-card>
    <mat-card-title class="jeu-title">{{ jvInput.titre }}</mat-card-title>
    <img mat-card-sm-image [src]="jvInput.imageUrl" [alt]="jvInput.titre">

    <mat-card-content class="jv-content">
      <div class="detail-container">
        <p><strong>Plateforme:</strong> {{ jvInput.plateforme }}</p>
        <p><strong>Genre:</strong> {{ jvInput.genre }}</p>
        <p><strong>Développeur:</strong> {{ jvInput.developpeur }}</p>
        <p><strong>Stock:</strong> {{ jvInput.stock }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<a (click)="voirReservations(jvInput.titre)">Voir les réservations de ce jeu.</a>
